<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://plataforma.coderhouse.com/images/icons/pwa-round/icon-152.png"
      type="image/x-icon"
    />
    <title>Entrega N 5</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1 class="title">{{titulo}}</h1>
        <nav class="navMain">
          <ul class="nav_ul">
            <li><a href="/">Productos</a></li>
            <li><a href="/realtimeproducts">Productos.IO</a></li>
            <li><a href="/products">Productos Paginacion</a></li>
            <li><a href="/carts/63f21bb8fdb70b8edd7e0f16">Carrito</a></li>
          </ul>
          <ul class="nav_ul">
            <li><a href="/chat">Chat</a></li>
          </ul>
        </nav>
      </div>
      <div class="mainPage">
        {{{body}}}
      </div>
      <div class="footer">
        <ul class="footer_ul">
          <li>Alejandro Gomez Nieto</li>
          <li><a
              href="https://github.com/alefigure8/coderhouse_entregas/tree/master/entrega_6"
              target="_blank"
            >Github</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>