<div class="footer">
  <ul class="footer_ul">
    <li>Alejandro Gomez Nieto</li>
    <li><a
        href="https://github.com/alefigure8/coderhouse_entregas/tree/master/pre_entrega_final_3"
        target="_blank"
      >Github</a></li>
  </ul>
</div>