<nav class="navMain">
  <ul class="nav_ul">
    
    <li><a href="/products">Productos</a></li>
    <li><a href="/chat">Chat</a></li>
  </ul>
  <ul class="nav_ul">
    {{#if user}}
      {{#if user.cartId}}
         <li><a href="/carts/{{user.cartId}}">Carrito</a></li>
      {{/if}}
      <li><a href="/profile">{{user.role}}</a></li>
      <li><a href="/logout">Logout</a></li>
    {{else}}
      <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>
</nav>