<div class="card">
    <div class="center column">
        <h2>Hola!</h2>
        <p>{{email}}</p>
        <input type="button" onclick="window.location.href = '/api/users/logout'" value="Logout" class="btn w-50 mb-20">
    </div>
</div>