<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://plataforma.coderhouse.com/images/icons/pwa-round/icon-152.png"
      type="image/x-icon"
    />
    <title>ENTREGA No 7 :: {{titulo}}</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1 class="title">COMMERCEHOUSE</h1>
        {{!-- barra de navegacion --}}
        {{>nav this}}
      </div>
        {{!-- body --}}
      <div class="mainPage">
        {{{body}}}
      </div>
        {{!-- footer--}}
      {{>footer}}
    </div>
  </body>
</html>