<div class="card">
    <div class="center column">
        <h2>¡Error!</h2>
        <p>El usuario ya se encuentra registrado</p>
        <input type="button" onclick="window.location.href = '/login'" value="Login" class="btn w-50 mb-20">
    </div>
</div>